.pumpkin-eye4 {
  width: 48px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  left: 158px;
  top: 312px;
  position: absolute;
  transform: rotate(-12deg);
}

.pumpkin-eye4::before,
.pumpkin-eye4::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 9px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #1e1c1c 40%, orange 41%);
  top: 16px;
  animation: pumpkin-eye4 1.5s ease-in-out infinite;
}

.pumpkin-eye4::before {
  left: 8px;
}

.pumpkin-eye4::after {
  right: 8px;
}

@keyframes pumpkin-eye4 {
  90% {
    transform: none;
  }
  95% {
    transform: scaleY(0.1);
  }
}
